body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}

.image-container {
    margin: 25px;
    /*position: relative;*/
    /*display: inline-block;*/
    /*overflow: hidden;*/
    /*width: 200px;*/
}

/*.image-container {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*overflow: hidden;*/
    /*width: 200px;*/
/*}*/
/*.image-container a {*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: -100%;*/
    /*opacity: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*text-align: center;*/
    /*color: inherit;*/
/*}*/
/*.image {*/
    /*position: relative;*/
    /*width: 200px;*/
    /*!*margin: 6em 0;*!*/
/*}*/

/*.image img {*/
    /*width: 100%;*/
    /*vertical-align: top;*/
/*}*/

/*.image:after {*/
    /*!*content: '\A';*!*/
    /*content: attr(data-content);*/
    /*color: #f2f2f2;*/

    /*position: absolute;*/
    /*width: 100%; height:100%;*/
    /*top:0; left:0;*/
    /*background:rgba(0,0,0,0.65);*/
    /*opacity: 0;*/
    /*transition: all .3s;*/
    /*-webkit-transition: all .3s;*/
/*}*/

/*.image:hover:after {*/
    /*opacity: 1;*/
/*}*/

#description {
    text-align: center;
}

ul.contactList {
    list-style-type: none;
}

/*.nav {*/
    /*background-color: #333;*/
    /*width:100%;*/
    /*!*height: inherit;*!*/
/*}*/

ul.bottomnav {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -8px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Float the list items side by side */
ul.bottomnav li { float: left; }
/* Style the links inside the list items */
ul.bottomnav li a {
    display: inline-block;
    color: #fafafa;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    transition: .2s;
    /*font-size: 17px;*/
}
ul.bottomnav li a:hover {
    color: #333;
    background-color: #fafafa;
}
ul.bottomnav li.icon {
    display: none;
}

#git {
    margin-left: 16%;
}

.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0 15%;
    padding-right: 20px;
    overflow: hidden;
    background-color: transparent;
}

/* Float the list items side by side */
ul.topnav li { float: left; }

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 11px;
    padding-right: 11px;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    text-decoration: none;
    transition: .2s;
    font-size: 17px;
}
ul.topnav li a:hover {
    color: #f2f2f2;
    background-color: #555;
}
ul.topnav li.icon {
    display: none;
}

/*.....................................*/

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}