/* line 1, ../sass/_grid.scss */
.grid-wrapper {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1.5em;
  padding: 1em;
}
@media only screen and (min-width: 801px) and (max-width: 1199px) {
  /* line 1, ../sass/_grid.scss */
  .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  /* line 1, ../sass/_grid.scss */
  .grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1em;
  }
}

/* line 20, ../sass/_grid.scss */
.subgrid-social {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  display: flex;
  flex-flow: column nowrap;
}
/* line 27, ../sass/_grid.scss */
.subgrid-intro {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}
@media only screen and (min-width: 801px) and (max-width: 1199px) {
  /* line 27, ../sass/_grid.scss */
  .subgrid-intro {
    grid-column: 2 / span 2;
  }
}
/* line 36, ../sass/_grid.scss */
.subgrid-work {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
@media only screen and (min-width: 801px) and (max-width: 1199px) {
  /* line 36, ../sass/_grid.scss */
  .subgrid-work {
    grid-column: 2 / span 2;
  }
}
/* line 45, ../sass/_grid.scss */
.subgrid-name {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
@media only screen and (max-width: 800px) {
  /* line 18, ../sass/_grid.scss */
  .subgrid {
    grid-column: 1;
  }
}

/* line 1, ../sass/_base.scss */
html {
  height: 100%;
  box-sizing: border-box;
}

/* line 6, ../sass/_base.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 12, ../sass/_base.scss */
body {
  font-family: "Roboto Mono", monospace;
  color: #212121;
  font-size: 24px;
  line-height: 1.8em;
  margin: 0;
  padding: 0;
  background-size: 24px 24px;
  background-image: radial-gradient(circle, #a9a9a9 1px, #fcfcfc 1px);
}
@media only screen and (max-width: 1200px) {
  /* line 12, ../sass/_base.scss */
  body {
    font-size: 20px;
  }
}

/* line 28, ../sass/_base.scss */
a {
  color: inherit;
}
/* line 31, ../sass/_base.scss */
a:hover {
  color: white;
  background: black;
}
/* line 36, ../sass/_base.scss */
a.button {
  padding: 0.1em .5em;
  margin: 0 .2em;
  background-color: white;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid black;
  transition: all 0.1s ease 0s;
  margin-top: -2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
/* line 53, ../sass/_base.scss */
a.button:hover {
  color: black;
  transform: translate(-6px, -6px);
  box-shadow: 6px 6px 0px 0px black;
}

/* line 61, ../sass/_base.scss */
ol, ul {
  list-style: none;
}

/* line 65, ../sass/_base.scss */
h1 {
  line-height: initial;
}

/* line 69, ../sass/_base.scss */
span {
  font-size: .75em;
  color: #616161;
}

/* line 74, ../sass/_base.scss */
.icon {
  max-height: 1.1em;
  margin-right: 5px;
}

/* line 80, ../sass/_base.scss */
.flag-de:hover {
  color: white;
  background: linear-gradient(to bottom, black, black 33%, #DD0000 33%, #DD0000 66%, #FFCE00 66%, #FFCE00);
}
