html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $primary-typeface;
  color: $text-color;
  font-size: 24px;
  line-height: 1.8em;
  margin: 0;
  padding: 0;

  background-size: 24px 24px;
  background-image: radial-gradient(circle, darkgrey 1px, #fcfcfc 1px);

  @include respond-to(large) {
    font-size: 20px;
  }
}

a {
  color: inherit;

  &:hover {
    color: white;
    background: black;
  }

  &.button {
    padding: 0.1em .5em;
    margin: 0 .2em;
    background-color: white;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid black;
    
    transition: all 0.1s ease 0s;
    margin-top: -2px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    &:hover {
      color: black;
      transform: translate(-6px, -6px);
      box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
    }
  }
}

ol, ul {
	list-style: none;
}

h1 {
  line-height: initial;
}

span {
  font-size: .75em;
  color: lighten($text-color, 25);
}

.icon {
  max-height: 1.1em;
  margin-right: 5px;
}

.flag-de {
  &:hover {
    color: white; 
    background: linear-gradient(
      to bottom,
      black, black 33%,
      #DD0000 33%, #DD0000 66%,
      #FFCE00 66%, #FFCE00);
  }
}
