html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $serif-stack;
  color: $text-color;
  font-size: 24px;
  position: relative;
  margin: 0;
  padding-bottom: 200px;
  min-height: 100%;
  // line-height: 1.;
  @media screen and (max-width: 600px) {
    font-size: 18px;
    padding-bottom: 110px;
  }
}

header {
  @media screen and (max-width: 800px) {
    padding-top: 50px;
  }
}



h1 {
  font-family: $heading-stack;
  font-size: 3.5em;
  line-height: 2em;
  margin-top: 0;
  margin-bottom: 0;
  @media screen and (max-width: 800px) {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 10px;
  }
}

h2 {
  font-family: $sans-stack;
  font-size: 1.75em;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    cursor: pointer;

    svg { * { stroke: $red; } }

    .arrow-right { margin-left: 12px; }
    .arrow-left {
      margin-right: 15px;
      margin-left: -9px;
    }
  }
  &.navigation__link {
    font-weight: bolder;
    &:hover {
      color: $red;
    }
  }
}

p a {
  // border-bottom: 1px solid $red;
  display: inline-block;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    border-bottom: 2px solid $red;
    width: 102%;
    bottom: 2px;
    transform: translateX(-100%);
    transition: all .25s ease;
    z-index: -1;
    margin-left: 2px;
  }
  &:hover:after {
    border-bottom: 1.5em solid $red;
  }
}

.arrow {
  display: inline;
  margin-bottom: -1.5px;
  margin-left: 3px;
  margin-right: 3px;
  transition: all .25s;
}
