html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Spectral', serif;
  color: $text-color;
  font-size: 24px;
  position: relative;
  margin: 0;
  padding-bottom: 200px;
  min-height: 100%;
  @media screen and (max-width: 600px) {
    font-size: 18px;
    padding-bottom: 110px;
  }
}

header {
  @media screen and (max-width: 600px) {
    padding-top: 50px;
  }
}

p a {
  border-bottom: 1px solid $red;
}

h1 {
  font-family: 'Calibre Bold', sans-serif;
  font-size: 3.5em;
  line-height: 2em;
  margin-top: 0;
  margin-bottom: 0;
  @media screen and (max-width: 600px) {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 10px;
  }
}

h2 {
  font-family: 'Calibre Bold', sans-serif;
  font-size: 1.75em;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $red;
    cursor: pointer;

    svg {
      * { stroke: $red; }
    }

    .arrow-right { margin-left: 12px; }
    .arrow-left {
      margin-right: 15px;
      margin-left: -9px;
    }
  }
}

.arrow {
  display: inline;
  margin-bottom: -1px;
  margin-left: 3px;
  margin-right: 3px;
  transition: all .25s;
}
