footer {
  color: $background-color;
  background-color: $text-color;
  height: 200px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  .l-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    @media screen and (max-width: 600px) {
      justify-content: space-around;
      padding: 15px 0;
    }
  }
  @media screen and (max-width: 600px) {
    height: 110px;
  }
}

.footer {
  &__link {
    flex-basis: 20%;

    a {
      color: $background-color;
      border: none;
      flex: 1;
    }
  }
}
