
@font-face {
  font-family: 'Calibre Bold';
  src: url('../fonts/CalibreWeb-Semibold.woff') format('woff'),
       url('../fonts/CalibreWeb-Semibold.tff') format('truetype');
}

$sans-stack-bold: 'Calibre Bold', sans-serif;
$serif-stack: 'Spectral', serif;
