@font-face {
	font-family: 'Canela';
	src: url('../fonts/Canela.eot');
	src: url('../fonts/Canela.eot?#iefix') format('embedded-opentype'),
		   url('../fonts/Canela.woff2') format('woff2'),
		   url('../fonts/Canela.woff') format('woff'),
		   url('../fonts/Canela.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


$heading-stack: 'Canela', serif;
$sans-stack: 'Hind', serif;
$serif-stack: 'Spectral', serif;
