$background-color: rgb(233, 233, 233);
$text-color: rgb(33, 33, 33);
$red: rgb(233, 0, 0);

@import 'footer.scss';
@import 'layout.scss';
@import 'type.scss';
@import 'social.scss';
@import 'work.scss';

@import 'base.scss';
