@font-face {
  font-family: 'Calibre';
  src: url("../fonts/CalibreWeb-Regular.eot?") format("eot"), url("../fonts/CalibreWeb-Regular.woff") format("woff"), url("../fonts/CalibreWeb-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Calibre Bold';
  src: url("../fonts/CalibreWeb-Semibold.eot?") format("eot"), url("../fonts/CalibreWeb-Semibold.woff") format("woff"), url("../fonts/CalibreWeb-Semibold.ttf") format("truetype");
}
/* line 20, ../sass/style.scss */
body {
  font-family: "Calibre", sans-serif;
  font-weight: 400;
  color: #ececec;
  background-color: #2d2d2d;
  padding: 0 5px;
}

/* line 28, ../sass/style.scss */
a {
  color: inherit;
  text-decoration: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 37, ../sass/style.scss */
a:hover {
  font-family: "Calibre Bold", sans-serif;
}

/* line 40, ../sass/style.scss */
.main-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 325px;
  padding: 25px;
  padding-top: 40px;
  margin: auto;
  margin-top: 20px;
  background-color: #ececec;
  color: #2d2d2d;
  border-radius: 1%;
  font-size: 1.2em;
}
/* line 54, ../sass/style.scss */
.main-card #profile-picture {
  border-radius: 2%;
}
/* line 56, ../sass/style.scss */
.main-card .name {
  font-family: "Calibre Bold", sans-serif;
  letter-spacing: 3px;
  font-size: 1.25em;
  margin-bottom: -5px;
}

/* line 64, ../sass/style.scss */
.contact-links {
  display: flex;
  align-items: center;
}
/* line 67, ../sass/style.scss */
.contact-links a:nth-child(1) > img {
  padding-left: 0;
}
/* line 69, ../sass/style.scss */
.contact-links .icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;
}
/* line 76, ../sass/style.scss */
.contact-links .resume {
  font-family: "Calibre", sans-serif;
  color: #ececec;
  font-size: .9em;
  font-weight: 400;
  line-height: .9;
  height: 18px;
  padding: 6px 10px 2px 10px;
  border-radius: 1.5px;
  background: black;
  margin-top: 12px;
  margin-left: 7px;
}
/* line 88, ../sass/style.scss */
.contact-links .resume:hover {
  font-weight: inherit;
  color: white;
}
